/* ---------------------------------------- 
* Title         : website/css/book_font_noto.css
* Environment   : 
* Descriptions  : ---------------
* Date          : 241108_112353
* Created by    : Swami Nirav Atasa
* <link href="book_font_noto.css" rel="stylesheet" />
* ---------------------------------------- 
*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Noto+Sans+KR:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');   


/*	

	@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&&display=swap');   
	@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');   

	@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:300'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:400'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:500'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:600'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:700'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:800'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:900'); 
	
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:200'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:500'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:600'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:700'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:800'); 
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:900'); 
*/


/*

.noto-serif-kr-<uniquifier> {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
     
.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

style="font-family: 'Noto Serif KR', serif;font-weight: 400;"
style="font-family: 'Noto Sans KR', serif;font-weight: 400;"
style="font-family: 'Source Serif 4',  serif;font-weight: 400;"


*/
